@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul, a {
    list-style-type: none;
    text-decoration: none;
}

/* header */

header {
    position: fixed;
    width: 100%;
    height: 170px;
    z-index: 1;
    background-color: white;
}

.header-box {
    padding-top: 50px;
    display: flex;
}

.logos-box img{
    width: 40px;
    height: 40px;
}

.logos-box a {
    vertical-align: middle;
    color: black;
    font-family: 'Solitreo', cursive;
    font-size: 25px;
}

nav {
    line-height: 50px;
    flex: 1;
    text-align: right;
    padding-left: 42%;
}

ul {
    display: flex;
}

ul,a {
    color: black;
    gap: 30px;
    font-size: 18px;  
}

.icons-box {
    display: flex;
    gap: 20px;
}

.search-icon-container img {
    width: 30px;
    height: 30px;
}

.bag-icon-container img {
    width: 35px;
    height: 35px;
}

/* section1 */

.About-the-site-container {
    padding-top: 170px; 
}

.background-photo-box {
    position: relative;
    max-width: 1555px;
    margin: 0 auto;
}

.background-photo-box img {
    width: 100%;
    height: 100%;
}

.site-title-box {
    position: absolute;
    bottom: 50%;
    left: 25%;
}

.site-title-box h1 {
    font-size: 80px;
    font-family: 'Solitreo', cursive;
    color: rgba(128, 80, 80, 1);
}

.site-title-box p {
    font-size: 35px;
    color: rgba(128, 80, 80, 1);
}

.About-the-site-button {
    bottom: 20%;
    left: 40%;
    position: absolute;
}

.About-the-site-button button {
    width: 250px;
    height: 90px;
    font-size: 22px;
    border: none;
    background-color: whitesmoke;
}

.arrows-box {
    display: flex;
    position: absolute;
    bottom: 46%;
    gap: 1398px;
}

.left-arrow img {
    width: 60px;
    height: 60px;
    background-color: white;
}

.right-arrow img {
    width: 60px;
    height: 60px;
    background-color: white;
}

/* section2 */

.Design-history-box {
    padding-top: 100px;
    display: flex;
    gap: 100px;
}

.Design-history-title h2 {
    font-size: 70px;
    font-family: 'Solitreo', cursive;
    color: rgba(150, 101, 101, 1);
}

.Design-history-title p {
    width: 350px;
    font-size: 25px;
    padding-top: 30px;
}

.Design-history-img-box {
    position: relative;
    width: 627px;
    height: 421px;
}

.Design-history-img-box img {
    width: 100%;
    height: 100%;
    border-radius: 77px;
}

.Design-history-box-rows {
    padding-top: 100px;
    display: flex;
    width: 100%;
    height: 600px;
    gap: 84px;
}

.rows img {
    width: 211px;
    height: 200px;
    border-radius: 77px;
}

.rows h2 {
    font-size: 35px;
    font-family: 'Solitreo', cursive;
    color: rgba(150, 101, 101, 1);
    padding-top: 30px;
    text-align: center;
}

.rows p {
    width: 200px;
    font-size: 18px;
    padding-top: 30px;
    line-height: 30px;
    text-align: center;
}

/* section3 */

.most-often-container {
    padding-top: 100px;
}

.most-often-container h2 {
    font-size: 40px;
    font-family: 'Solitreo', cursive;
    color: rgba(150, 101, 101, 1);
}

.Number-of-percentages-container {
    padding-top: 64px;
    line-height: 60px;
}

.percentages-paragraph {
    display: flex;
    font-size: 40px;
    padding-left: 40px;
    padding-bottom: 3px;
}

.percentages-paragraph span {
    padding-left: 70%;
    color: rgba(150, 101, 101, 1);
}

.unmain {
    position: relative;
    width: 80%;
    height: 50px;
    border-radius: 80px;
    border: 1px solid rgba(112, 112, 112, 1);
    background-color: rgba(240, 236, 236, 1);
}

.main {
    position: absolute;
    width: 1200px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid rgba(112, 112, 112, 1);
    background-color: rgba(247, 247, 248, 1);
    
}

.about-elsie-container {
    display: flex;
    padding-top: 100px;
    gap: 94px;
    font-family: 'Solitreo', cursive;
    color: rgba(150, 101, 101, 1);
}

.elise-img img {
    width: 548px;
    height: 534px;
    border-radius: 50%;
    border: 1px solid #707070;
}

.elsie-paragraph p {
    display: inline-block;
    width: 500px;
    font-size: 40px;
    padding-top: 50px;
}

.elsie-paragraph span {
    display: block;
    width: 550px;
    font-size: 40px;
    padding-left: 210px;
}

/* section4 */

.Internal-interior {
    padding-top: 100px;
}

.Internal-interior-container {
    width: 100%;
    
}

.Internal-interior-row {
    display: flex;
    width: 100%;
    height: 294px;
    margin-top: 30px;
    background-color: #F8F8F8;
}

.Internal-interior-row img {
    width: 50%;
    height: 294px;
    transform: translatex(170px);
}

.rooms-title {
    padding-top: 30px;
    padding-left: 100px;
    line-height: 50px;
}

.rooms-title h2 {
    font-size: 50px;
    font-family: 'Solitreo', cursive;
    color: rgba(150, 101, 101, 1);
}

.rooms-title p {
    font-size: 22px;
}

.click-it {
    padding-top: 10px;
    text-align: center;
    width: 200px;
    height: 70px;
    border: 1px solid #956464;
    background-color:  #707070;
}

/* footer */


.just-text {
    width: 100%;
    height: 100px;
    font-size: 20px;
    text-align: center;
    transform: translateY(50%);
}