@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul, a {
    list-style-type: none;
    text-decoration: none;
}

/* header */

header {
    position: fixed;
    width: 100%;
    height: 170px;
    z-index: 1;
}

.header-box {
    padding-top: 50px;
    display: flex;
}

.logos-box img{
    width: 40px;
    height: 40px;
}

.logos-box a {
    vertical-align: middle;
    color: black;
    font-family: 'Solitreo', cursive;
    font-size: 25px;
}

nav {
    line-height: 50px;
    flex: 1;
    text-align: right;
    padding-left: 42%;
}

ul {
    display: flex;
}

ul,a {
    color: black;
    gap: 30px;
    font-size: 18px;  
}

.icons-box {
    display: flex;
    gap: 20px;
}

.search-icon-container img {
    width: 30px;
    height: 30px;
}

.bag-icon-container img {
    width: 35px;
    height: 35px;
}

/* section1 */

.About-the-site-container {
    padding-top: 170px; 
}

.background-photo-box {
    position: relative;
    max-width: 1555px;
    margin: 0 auto;
}

.background-photo-box img {
    width: 100%;
    height: 100%;
}

.site-title-box {
    position: absolute;
    bottom: 50%;
    left: 25%;
}

.site-title-box h1 {
    font-size: 80px;
    font-family: 'Solitreo', cursive;
    color: rgba(128, 80, 80, 1);
}

.site-title-box p {
    font-size: 35px;
    color: rgba(128, 80, 80, 1);
}

.About-the-site-button {
    bottom: 20%;
    left: 40%;
    position: absolute;
}

.About-the-site-button button {
    width: 250px;
    height: 90px;
    font-size: 22px;
    border: none;
    background-color: whitesmoke;
}

.arrows-box {
    display: flex;
    position: absolute;
    bottom: 46%;
    gap: 1398px;
}

.left-arrow img {
    width: 60px;
    height: 60px;
    background-color: white;
}

.right-arrow img {
    width: 60px;
    height: 60px;
    background-color: white;
}

/* section2 */

.Design-history-box {
    padding-top: 100px;
    display: flex;
    gap: 100px;
}

.Design-history-title h2 {
    font-size: 70px;
    font-family: 'Solitreo', cursive;
    color: rgba(150, 101, 101, 1);
}

.Design-history-title p {
    width: 350px;
    font-size: 25px;
    padding-top: 30px;
}

.Design-history-img-box {
    position: relative;
    width: 627px;
    height: 421px;
}

.Design-history-img-box img {
    width: 100%;
    height: 100%;
    border-radius: 77px;
}

.Design-history-box-rows {
    padding-top: 100px;
    display: flex;
    width: 100%;
    height: 600px;
    gap: 84px;
}

.rows img {
    width: 211px;
    height: 200px;
    border-radius: 77px;
}

.rows h2 {
    font-size: 35px;
    font-family: 'Solitreo', cursive;
    color: rgba(150, 101, 101, 1);
    padding-top: 30px;
    text-align: center;
}

.rows p {
    width: 200px;
    font-size: 18px;
    padding-top: 30px;
    line-height: 30px;
    text-align: center;
}



